<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Django App</title>
</head>
<body>
    <h1>Welcome to Demo Django App</h1>
    <p>This is the Index page to show how Django renders an HTML page.</p>
    <p>Visit the <a href="{% url 'prompt' %}">Prompt Page</a> to check how HTTPResponse works</p> 

    <h1>Let's work with variables and filters</h1>
    <p>Text filters for the line "{{line}}"</p>
    <ul>
        <li>Uppercase: {{ line|upper }}</li>
        <li>Lowercase: {{ line|lower }}</li>
        <li>Capitalize: {{ line|capfirst }}</li>
        <li>Length: {{ line|length }}</li>
        <li>Title: {{ line|title}}</li>
        <li>Word Count: {{ line|wordcount }}</li>
        <li>Cut 'j': {{ line|cut:"j" }}</li>
        <li>Truncate Words (4): {{ line|truncatewords:4 }}</li>
        <li>Truncate Chars (6): {{ line|truncatechars:6 }}</li>
    </ul>

    <p>Number filters for the number {{number}}</p>
    <ul>
        <li>Floatformat (2): {{ number|floatformat:2 }}</li>
        <li>Add 100: {{ number|add:100 }}</li>
        <li>Divisible by 3: {{ number|divisibleby:3 }}</li>
    </ul>

    <p>List filters for the list {{list}}</p>
    <ul>
        <li>Length: {{ list|length }}</li>
        <li>First Element: {{ list|first }}</li>
        <li>Last Element: {{ list|last }}</li>
        <li>Join Elements: {{ list|join:", " }}</li>
        <li>Slice (first 2): {{ list|slice:":2" }}</li>
    </ul>

    <p>Date and Time filters</p>
    <ul>
        <li>Current Date & Time: {{ my_date }}</li>
        <li>Formatted Date: {{ my_date|date:"d-m-y" }}</li>
        <li>Time left until my birthday: {{ fut_date|timeuntil }}</li>
    </ul>

    <p>Escape Filters</p>  {% comment %} means closing execution of any code like JS, HTML etc {% endcomment %}
    <button onclick="{{ my_string|escapejs }}">Show Alert</button> {% comment %}  Shows an alert with the message "Hello, World!" if escapejs is not applied {% endcomment %}
    <div>{{ my_html|safe }}</div> 
    <div>{{ my_html|force_escape }}</div> 

    <p>Conditional Variable: {{ cond_var }}</p>
    <li>Conditional Variable with default: {{ cond_var|default:"No value provided" }}</li>
    <li>Conditional Variable with default_if_none: {{ cond_var|default_if_none:"Not Found" }}</li>
    <li>Conditional Variable Yes/No: {{ cond_dec|yesno:"Decision Taken, Decision not Taken" }}</li>

    <p>Dictionary List Filters </p>
    <ul>
        <li>Dictionary: {{ dict_list}}</li>
        <li>Sorted with age: {{ dict_list|dictsort:'age'}}</li>
        <li>Sorted with age in reverse: {{ dict_list|dictsortreversed:'age'}}</li>
    </ul>


</body>
</html>